<h2>Add a new celebrity</h2>
<form method="post" action="/celebrities/create" class="form">
    <label for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" value="test celebrity">
    
    <label for="name">Occupation</label>
    <input type="text" name="occupation" value="test occupation">

    <label for="name">Catch Phrase</label>
    <input type="text" name="catchPhrase" value="test catch phrase">
    <button>submit</button>
</form>
    